$bremen: '~@/assets/fonts/';
@font-face {
	font-family: 'a_BremenCaps';
	src: url('#{$bremen}/ABremenCaps.woff') format('woff2'), url('#{$bremen}/ABremenCaps.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PT Sans';
	src: url('#{$bremen}/PTSans-Regular.woff2') format('woff2'), url('#{$bremen}/PTSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
